.formHeader {
  color: #bec1c4;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border: 4px solid #fcc419;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.formHeader div {
  display: inline-block;
  margin: 0 2rem;
}
.formHeader input {
  border: none;
  margin-left: 1rem;
  font-size: 1.1rem;
  color: #bec1c4;
  width: 240px;
}
.formHeader input:focus {
  outline: none;
}
.formHeader label i {
  font-size: 1.4rem;
}

.calender {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
